[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
parlai = "*"
spacy = "*"
spacymoji = "*"
pyspellchecker = "*"

[dev-packages]

[requires]
python_version = "3.7"
