[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
parlai = "*"
spacy = "*"
spacymoji = "*"
beautifulsoup4 = "*"
pandas = "*"
jupyterlab = "*"
matplotlib = "*"
wordcloud = "*"
seaborn = "*"
lexical-diversity = "*"
nbconvert = {extras = ["webpdf"], version = "*"}
demoji = "*"
numpy = "*"
sklearn = "*"
param = "*"
panel = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.7"
